<form id="search-form">
	<div class="form-group">
    <input type="text" class="form-control" id="searchText" placeholder="Search...">
  </div>
  <button class="btn btn-primary">SEARCH</button>
</form>